---
---
@import "minima";
@import url('https://fonts.googleapis.com/css?family=Rubik&display=swap');

.header-image {
  background: url('/assets/iceland-landscape.jpg') no-repeat center center fixed;
  background-size: cover;
  height: 200px;
  width: 100%;
}

.profile-image {
  float: left;
  margin-right: 20px;
  max-width: 350px;

  @media (max-width: 700px) {
    max-width: 100%;
  }
}

.status-list {
  list-style: none;
  margin-left: 0;

  .svg-icon{
    vertical-align: middle;
  }
}

.site-title {
    font-family: 'Rubik', sans-serif;
    position: relative;
    
    &::after {
      content: 'Wu';
      color: lightgray;
      position: absolute;
      right: 0;
      transform: translate(15px, 5px);
      display: inline-block;
      z-index: -1;
    }
}

.featured_posts {
  display: flex;
  justify-content: space-between;
    
  a + a {
    margin-left: 20px;
    width: 100%;
  }
}
