<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}

  <body>

    {%- include header.html -%}

    <div class="header-image"></div> 

    <main class="page-content" aria-label="Content">
      <div class="wrapper">
        <div class="home">
          <div class="featured-posts">
          {%- for post in site.tags.featured -%}
            <a href="{{post.url}}" class="featured-post">
	      <img src="{{ post.thumbnail }}" />
              <h3>{{post.title}}</h3>
            </a> 
          {%- endfor -%}
          </div>
	</div>
      </div>
    </main>

    {%- include footer.html -%}

  </body>

</html>

